body {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: 0;
    background: linear-gradient(180deg, rgb(1, 134, 26), rgb(0, 7, 2)) !important;
  }
  
  .container {
   
    display: flex;
    place-content: center;
    
   
    
  }
  .motiondiv {
    margin: 0 auto;
  }
  .item {
    width: 100vw ;
    height: 100vh;
    overflow: visible;
    stroke: #fff;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-linecap: round;
    padding-top: 30%;
    padding-left: 10px;
     
    #d {
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0;
    }
  }
  